@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<br />
<div class="my-3">
    <label asp-for="code" class="col-form-label" ></label>
    <input asp-for="code" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="my-3">
    <label asp-for="CreatedAt" class="col-form-label"></label>
    <input asp-for="CreatedAt" class="form-control" type="datetime-local" readonly />
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
<a  asp-route-Id="@Model.Id" asp-action="Edit"class="btn btn-info" >Edit</a>


